

@font-face {
    font-family: wildflowers;
    src: url("font/wildflowers.ttf");
}


@font-face {
    font-family: Brother-Signature;
    src: url("font/Brother-Signature.otf");
}

@font-face {
    font-family: DUMERO-Rounded;
    src: url("font/DUMERO-Rounded.ttf");
}

@font-face {
    font-family: Histea-Ballon;
    src: url("font/Histea-Ballon.ttf");
}


@font-face {
    font-family: Makebonk;
    src: url("font/Makebonk-BF.ttf");
}


@font-face {
    font-family: Milany-Regular;
    src: url("font/Milany-Regular.otf");
}
